{% extends "base.html" %}
{% block title %}عن سهمي{% endblock %}

{% block content %}
<div class="container py-5">
    <h1 class="text-center mb-5">عن منصة سهمي</h1>
    <div class="row">
        <div class="col-lg-8 mx-auto text-center">
            <p class="lead">سهمي هي منصة تمويل جماعي فلسطينية تهدف إلى ربط أصحاب الأفكار والمشاريع بالمستثمرين والداعمين من كل مكان.</p>
            <p class="fs-4">نسعى لتمكين الشباب الفلسطيني ودعم المشاريع الصغيرة والمتوسطة لتحقيق التنمية المستدامة.</p>
        </div>
    </div>
</div>
{% endblock %}